@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.nav-container {
    background-color: #FFDD00;
    color: #004588;
    min-width: 100px;
}

.doka-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: max-content;
    padding: 7vh 1vh 7vh;
}

.icon:not(:last-child) {
    display: inline-block;
    position: absolute;
    right: 10%;
    transform: translate(-50%,-50%);
}

.resetTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 20px;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    transition: all .5s ease-in-out;
}

.nav-container {
    max-width: 330px;
}

.reset:hover {
    background-color: transparent !important;
    color: #8E9DC8;
    transform: scale(1.2);
}

.sidebar-icon {
    display: grid;
    grid-template-columns: 90% 10%;
    justify-content: space-between;
    padding-left: 2rem;
    font-size: larger;
    height: 11vh;
}

.sidebar-icon:focus {
    background-color: mediumvioletred;
}

.sidebar-icon:active {

}

.exportMenu .MuiPaper-root {
    width: 20%;
    max-width: 330px;
    background-color: #FFDD00;
    color: #004588;
}

@media (max-width: 1214px) {
    .sidebar-icon .title {
        font-size: 0 !important;
    }
    .sidebar-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .resetTitle {
        font-size: 0;
    }
}

@media (max-width: 600px) {
    .nav-container {
        width: 10vw;
    }
    .sidebar-icon svg {
        width: 1.8rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 412px) {
    .sidebar-icon .title {
        font-size: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sidebar-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .resetTitle {
        font-size: 0;
    }
}


/*@media (max-width: 1000px) {
    .doka-logo {
        height: 15vh;
    }
}

@media (max-width: 626px) {
    .doka-logo {
        height: 10vh;
    }
}

@media (max-width: 390px) {
    .doka-logo {
        height: 5vh;
    }
}
*/
